# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Build artifacts (Very important to ignore local builds)
build/
dist/
.next/
out/

# Environment and Secrets
.env

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and OS Metadata
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentation and Assets
README.md
public/robots.txt
# (Optional) Ignore large assets if they are hosted elsewhere
# screenshots/